<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Permettre l'accès aux fichiers et dossiers existants (images, CSS, JS)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rediriger tout le reste vers index.html pour le routing Angular
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_deflate.c>
  # Activer la compression GZIP
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json image/svg+xml
</IfModule>

<IfModule mod_expires.c>
  # Activer la mise en cache navigateur pour les performances
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType application/json "access plus 1 month"
  ExpiresDefault "access plus 2 days"
</IfModule>
